<div class="contacts" [style.min-height]="minHeight">

  <app-header></app-header>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <pre>
    <div class="css-data">
      <span><strong>Responsive device:</strong></span>
      <span class="hidden show-xxs">[Mobile]</span>
      <span class="hidden show-xs">[Phablet - min-width:36.25em]</span>
      <span class="hidden show-sm">[Tablet - min-width:48em]</span>
      <span class="hidden show-md">[Laptop - min-width:62em]</span>
      <span class="hidden show-lg">[Desktop - min-width:75em]</span>
    </div>
  </pre>

</div>
